<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>TODOARY_CODE_EMAIL</key>
	<string>code@todoary.com</string>
	<key>TODOARY_EMAIL</key>
	<string>todoary.app@gmail.com</string>
	<key>TODOARY_PW</key>
	<string>cprknwdarqtsvkgl</string>
	<key>UIAppFonts</key>
	<array>
		<string>AppleSDGothicNeoEB.ttf</string>
		<string>GangwonEduAll-Bold.ttf</string>
		<string>GangwonEduAll-Light.ttf</string>
		<string>IBMPlexSansKR-Text.otf</string>
		<string>IBMPlexSansKR-Medium.otf</string>
		<string>IM_Hyemin-Bold.ttf</string>
		<string>IM_Hyemin-Regular.ttf</string>
		<string>NotoSerifKR-Regular.otf</string>
		<string>NotoSerifKR-SemiBold.otf</string>
	</array>
</dict>
</plist>
