<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string></string>
	</array>
	<key>item2</key>
	<string>AppleSDGothicNeoM.ttf</string>
	<key>item1</key>
	<string>AppleSDGothicNeoSB.ttf</string>
	<key>item0</key>
	<string>AppleSDGothicNeoB.ttf</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>사진 기능을 사용하려면 &apos;사진/비디오&apos; 접근권한을 허용해야 합니다.</string>
</dict>
</plist>
