<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666947728476-7d1qb2mlg0f7gnids3ibt211073d4o71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666947728476-7d1qb2mlg0f7gnids3ibt211073d4o71</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>666947728476-40dfmp62tj34jbk87kcsm3gko1bsqcgt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAFm4T3NPICBeNZF6FR5IfTzcrlILKpuw0</string>
	<key>GCM_SENDER_ID</key>
	<string>666947728476</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoary.ms.app</string>
	<key>PROJECT_ID</key>
	<string>todoary-1304d</string>
	<key>STORAGE_BUCKET</key>
	<string>todoary-1304d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666947728476:ios:12d5e63d1273e376486299</string>
</dict>
</plist>